<div class="main-container">
  <div class="to-center-content">
    <div class="set-content">

      <div class="first-grid" *ngIf="displayContent">
        <div class="navigation">
            <p><span>Home</span> > Search Results</p>
      </div>
        <div class="first-block">
          <p id="title-text">Related Categories</p>
          <p>Joggers & Sweats</p>
          <p>Women's Pants & Leggins</p>
       </div>
     <div *ngFor="let item of ulItems" class="checkBoxItems">
        <p id="title-text">{{item.title}}</p>
        <ul>
          <li *ngFor=" let checkBoxItem of item.checkBoxItems">
            <input type="checkbox">
            {{checkBoxItem}}
          </li>
        </ul>
     </div>
     <div class="fifth-block">
        <p id="title-text">Price</p>
        <div class="price-block-content">
          <input type="number" placeholder="Min">
          <input type="number" placeholder="Max">
          <button></button>
        </div>
     </div>
      </div>
      <div class="second-grid">
              <div class="item-parent-container">
                  <div *ngFor="let item of items" class="item">
                      <div class="image-container">
                         <img src="{{item.imgSrc}}" alt="{{item.alt}}">
                      </div>
                       <div class="item-info" >
                         <p id="description">{{getDescription(item.description)}}</p>
                         <p id="price">₱{{item.price}}</p>
                       </div>
                  </div>
              </div>
      </div>

    </div>
  </div>
</div>

