/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
  margin-top: -16px;
  font-family: 'Roboto', sans-serif;
}

.content{
  width: 70%;
}
.center-content{
  display: flex;
  justify-content: center;

}
